<div class="welcome">
    <div class="hero-text container">
        <h1>Welcome to <span>Monday Hollywood</span></h1>
        <p>Sign in to book a holiday</p>
        <div class="row">
            <div class="">
                <a class="btn btn-outline-light" routerLink="/dashboard" role="button" style="text-transform:none">
                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                    Login with Google
                </a>
            </div>
        </div>
    </div>
</div>